.weather-card {
  background-position: right;
  height: 80px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

.weather-card__content {
  position: relative;
}

.weather-card__info {
  position: absolute;
  top: 20px;
  color: white;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  left: 16px;
}

.weather-card__image {
  height: 100%;
  z-index: 0;
  width: 100%;
}
