.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.footer__text {
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 16px;
}
